/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html, body {
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
  line-height: 1.5;
  height: 100%; }

.fsBody {
  font-family: "Open Sans", sans-serif !important;
  padding: 0 !important; }

.fsLabel {
  font-weight: 700; }

.fsRequiredMarker {
  color: #48F4C7;
  margin-left: 4px;
  vertical-align: super; }

.fsFieldRow {
  margin-bottom: 24px; }

.fsOptionLabel {
  margin-top: 10px; }
  .fsOptionLabel:hover {
    cursor: pointer; }

.signup__form {
  margin: 32px 0 0; }
  .signup__form input[type=email],
  .signup__form input[type=text],
  .signup__form input[type=submit],
  .signup__form input[type=textarea] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box; }
    .signup__form input[type=email]:required,
    .signup__form input[type=text]:required,
    .signup__form input[type=submit]:required,
    .signup__form input[type=textarea]:required {
      box-shadow: none; }
  .signup__form input[type=email],
  .signup__form input[type=text],
  .signup__form input[type=textarea] {
    padding: 18px 8px;
    background-color: #FFFFFF;
    border: 2px solid #7A7287;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }
    .signup__form input[type=email]:focus,
    .signup__form input[type=text]:focus,
    .signup__form input[type=textarea]:focus {
      border-color: rgba(130, 36, 230, 0.8);
      box-shadow: 0 1px 1px rgba(130, 36, 230, 0.075) inset, 0 0 8px rgba(130, 36, 230, 0.6);
      outline: 0 none; }

.signup__form__question {
  margin: 30px 0; }

.signup__form__label {
  display: block;
  font-weight: 700;
  font-size: 18px; }
  .signup__form__label.required::after {
    content: '*';
    color: #48F4C7;
    font-weight: 700;
    margin-left: 3px; }
  .signup__form__label.signup__form__label--radio {
    margin-bottom: 12px; }

input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 50px;
  border: 2px solid #7A7287;
  transition: .2s;
  cursor: pointer;
  color: #8224E6;
  vertical-align: top; }
  input[type="radio"]:hover, input[type="radio"]:checked {
    background: #8224E6;
    box-shadow: inset 0 0 0 0.35em #FCFCFC; }
  input[type="radio"]:checked {
    background: #FCFCFC;
    box-shadow: inset 0 0 0 0.35em #8224E6;
    border-color: #8224E6; }
  input[type="radio"]:focus {
    outline: 0; }

input[type="submit"] {
  color: #FCFCFC;
  background-image: linear-gradient(90deg, #8224E6 0%, #AD2FF2 100%);
  padding: 24px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  border: 0;
  border-radius: 4px;
  transition: all .2s ease-in-out; }
  input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.015); }

.fsSupporting,
.signup__footnote {
  color: #7A7287;
  font-size: 14px; }

.fsSupporting {
  padding: 8px 0; }

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative; }
  @media (min-width: 992px) {
    .wrapper {
      height: 100vh;
      flex-flow: column wrap;
      overflow: hidden; } }

.nav {
  text-align: left;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0; }

.nav__logo {
  max-height: auto;
  max-width: 280px; }

.content,
.signup {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 100%;
  overflow-y: auto; }

.content__container,
.signup__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100%; }

.content {
  width: 100%;
  font-size: 18px;
  padding: 30px 15px;
  flex-grow: 1;
  order: 1; }
  @media (min-width: 576px) {
    .content {
      padding: 45px 45px; } }
  @media (min-width: 992px) {
    .content {
      width: 58%;
      padding-top: 55px;
      font-size: 16px; } }
  @media (min-width: 1200px) {
    .content {
      width: 65%;
      padding: 95px 105px; } }
  @media (min-width: 1450px) {
    .content {
      width: 50%; } }
  .content p {
    margin-bottom: 32px; }

mark {
  padding: 0 3px;
  background-color: #48F4C7; }

.content__name {
  color: #8224E6;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 8px; }

.content__title {
  font-weight: 700;
  font-size: 64px;
  font-family: "Playfair Display", serif;
  line-height: 1.1;
  margin-bottom: 18px; }

.content__summary {
  font-size: 22px;
  margin-bottom: 16px; }

.quote {
  font-weight: 700; }

.section-title__text {
  color: #8224E6;
  font-size: 14px;
  margin-bottom: 8px;
  display: inline-block; }

.section-title__hr {
  display: inline-block;
  width: 65px;
  border: 0.75px solid #8224E6;
  margin-right: 5px;
  vertical-align: middle; }

.hr {
  width: 40%;
  border: 5px solid #000000; }
  .hr.aqua {
    border-color: #48F4C7; }
  .hr.violet {
    border-color: #8224E6; }

.display--none {
  display: none; }

.margin-top--none {
  margin-top: 0 !important; }

.margin-bottom--small {
  margin-bottom: 16px; }

.margin-bottom--medium {
  margin-bottom: 32px; }

.line-break {
  display: inline; }
  @media (min-width: 992px) {
    .line-break {
      display: block; } }

.hero {
  width: 100%;
  height: 850px;
  background-color: #8224E6;
  background-image: url("/images/background--hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FCFCFC;
  padding: 30px 88px 150px; }

.hero__content {
  width: 65%;
  margin-top: 64px; }
  .hero__content .headline--medium {
    width: 85%; }

.logo__text {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #FCFCFC;
  font-size: 22px; }

.headline--jumbo {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.15; }

.headline--large {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-weight: 900; }

.headline--medium {
  font-size: 22px;
  font-weight: 400; }

.headline--small {
  font-size: 18px;
  font-weight: 900; }

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  border: 0;
  padding: 16px 30px;
  line-height: 1;
  transition: all .15s linear;
  transform: translateX(0); }
  .button:hover {
    transform: translateX(0px) scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    cursor: pointer; }

.button--large {
  font-size: 20px;
  line-height: 1.15; }

.button--black {
  background-color: #000000;
  color: #FFFFFF; }

.button--alabaster {
  background-color: #FCFCFC;
  color: #8224E6; }

section {
  padding: 30px 88px 30px; }

.section--alabaster {
  background-color: #FCFCFC;
  color: #000000; }

.content-box {
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  padding: 85px 75px; }

.content-box--hero {
  margin-top: -325px;
  margin-bottom: 104px; }

.content-box--signup {
  position: relative;
  z-index: 3; }

.signup__copy {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.grid {
  display: grid; }

.grid-2 {
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  column-gap: 64px;
  grid-row-gap: 72px; }

.bracket__head {
  margin-bottom: 8px; }
  .bracket__head p {
    display: inline-block; }

.bracket__head__img {
  display: inline-block;
  height: 30px;
  width: auto;
  margin-right: 8px;
  vertical-align: middle; }

.logo__hr {
  width: 56px;
  border: 2px solid #48F4C7;
  margin-right: 5px;
  display: inline-block;
  vertical-align: text-top; }

.signup__hr {
  width: 45%;
  border: 4px solid #48F4C7;
  display: block; }

.wave {
  background-image: url("/images/background--hero--wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 175px; }

.wave--hero {
  margin-top: -175px; }

.wave--footer {
  margin-bottom: -175px;
  -webkit-transform: rotate(180deg);
  /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);
  /* FF */
  -o-transform: rotate(180deg);
  /* Opera */
  -ms-transform: rotate(180deg);
  /* IE9 */
  transform: rotate(180deg); }

.pull-wave {
  margin-bottom: -315px; }

.footer {
  background-color: #000000;
  height: 450px;
  color: #FCFCFC;
  text-align: center;
  padding-top: 365px; }
