// FORMSTACK CLASSES/RESETS

.fsBody {
  font-family: $open !important;
  padding: 0 !important;
}

.fsLabel {
  font-weight: 700;
}

.fsRequiredMarker {
  color: $aqua;
  margin-left: 4px;
  vertical-align: super;
}

.fsFieldRow {
  margin-bottom: 24px;
}

.fsOptionLabel {
  margin-top: 10px;
  
  &:hover {
    cursor: pointer;
  }

}

// MY CLASSES/STYLES

.signup__form {
  margin: 32px 0 0;

  input[type=email],
  input[type=text],
  input[type=submit],
  input[type=textarea] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;

    &:required {
      box-shadow: none;
    }

  }
  
  input[type=email],
  input[type=text],
  input[type=textarea] {
    padding: 18px 8px;
    background-color: $white;
    border: 2px solid $mobster;
    border-radius: $border-radius-default;
    font-size: 18px;
    font-family: $open;
    font-weight: 700;

    &:focus {
      border-color: rgba(130, 36, 230, 0.8);
      box-shadow: 0 1px 1px rgba(130, 36, 230, 0.075) inset, 0 0 8px rgba(130, 36, 230, 0.6);
      outline: 0 none;
    }

  }

}

.signup__form__question {
  margin: 30px 0;
}

.signup__form__label {
  display: block;
  font-weight: 700;
  font-size: 18px;

  &.required::after {
    content: '*';
    color: $aqua;
    font-weight: 700;
    margin-left: 3px;
  }

  &.signup__form__label--radio {
    margin-bottom: 12px;
  }

}

input[type="radio"] {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background: $white;
  border-radius: 50px;
  border: 2px solid $mobster;
  transition: .2s;
  cursor:pointer;
  color: $electric-violet;
  vertical-align: top;

  &:hover,
  &:checked {
    background: $electric-violet;
    box-shadow:
    inset 0 0 0 .35em $alabaster;
  }
  
  &:checked {
    background: $alabaster;
    box-shadow: inset 0 0 0 .35em $electric-violet;
    border-color: $electric-violet;
  } 

  &:focus { outline: 0; }

}

input[type="submit"] {
  color: $alabaster;
  background-image: linear-gradient(90deg, #8224E6 0%, #AD2FF2 100%);
  padding: 24px;
  font-size: 20px;
  font-weight: 700;
  font-family: $open;
  border: 0;
  border-radius: $border-radius-default;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.015);
  }
}

.fsSupporting,
.signup__footnote {
  color: $mobster;
  font-size: 14px;
}

.fsSupporting {
  padding: 8px 0;
}