.display--none {
  display: none;
}

.margin-top--none {
  margin-top: 0 !important;
}

.margin-bottom--small {
  margin-bottom: 16px;
}

.margin-bottom--medium {
  margin-bottom: 32px;
}


.line-break {
  display: inline;
  @include lg { display: block; }
}