.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;

  @include lg { 
    height: 100vh;
    flex-flow: column wrap;
    overflow: hidden;
  }

}

.nav {
  text-align: left;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__logo {
  max-height: auto;
  max-width: 280px;
}

.content,
.signup {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 100%;
  overflow-y: auto;
}

.content__container, 
.signup__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100%;
}

.content {
  width: 100%;
  font-size: 18px;
  padding: 30px 15px;
  flex-grow: 1;
  order: 1;

  @include sm { padding: 45px 45px; }
  
  @include lg { 
    width: 58%;
    padding-top: 55px;
    font-size: 16px;
  }

  @include xl { 
    width: 65%;
    padding: 95px 105px;
  }

  @include xxl { width: 50%; }

  p {
   margin-bottom: 32px;
  }

}

mark {
  padding: 0 3px;
  background-color: $aqua;
}

.content__name {
  color: $electric-violet;
  font-size: 18px;
  font-family: $open;
  margin-bottom: 8px;
}

.content__title {
  font-weight: 700;
  font-size: 64px;
  font-family: $playfair;
  line-height: 1.1;
  margin-bottom: 18px;
}

.content__summary {
  font-size: 22px;
  margin-bottom: 16px;
}

.quote {
  font-weight: 700;
}

.section-title__text {
  color: $electric-violet;
  font-size: 14px;
  margin-bottom: 8px;
  display: inline-block;
}

.section-title__hr {
  display: inline-block;
  width: 65px;
  border: 0.75px solid $electric-violet;
  margin-right: 5px;
  vertical-align: middle;
}

.hr {
  width: 40%;
  border: 5px solid $black;

  &.aqua {
    border-color: $aqua;
  }
  
  &.violet {
    border-color: $electric-violet;
  }

}

// .signup {
//   width: 100%;
//   background-image: url('/../images/background-pattern.png');
//   background-color: $black;
//   color: $alabaster;
//   padding: 30px 15px;
//   font-size: 18px;
//   flex-grow: 1;
//   order: 2;

//   @include sm { padding: 45px 45px; }

//   @include lg { 
//     width: 42%;
//     min-height: 100%;
//     padding: 75px 65px;
//   }

//   @include xl { width: 35%; }
  
//   @include xxl { 
//     width: 50%;
//     justify-content: center;
//   }
// }

// .signup__title {
//   font-weight: 700;
//   font-size: 24px;
//   margin-bottom: 16px;
// }

// .footnote {
//   font-size: 14px;
// }