// Colors
$black: #000000;
$white: #FFFFFF;
$alabaster: #FCFCFC;
$aqua: #48F4C7;
$electric-violet: #8224E6;
$electric-violet--rgb: '130, 36, 230';
$mobster: #7A7287;

// Fonts
$open: 'Open Sans', sans-serif;
$playfair: 'Playfair Display', serif;

// Border Radius
$border-radius-default: 4px;
$border-radius-large: 8px;