.bracket__head {
  margin-bottom: 8px;

  p {
    display: inline-block;
  }

}

.bracket__head__img {
  display: inline-block;
  height: 30px;
  width: auto;
  margin-right: 8px;
  vertical-align: middle
}
