.button {
  display: inline-block;
  border: none;
  border-radius: $border-radius-default;
  font-weight: 600;
  border: 0;
  padding: 16px 30px;
  line-height: 1;
  transition: all .15s linear;
  transform: translateX(0);

  &:hover {
    transform: translateX(0px) scale(1.05);
    box-shadow: rgba($black, 0.20) 0 0 5px;
    cursor: pointer;
  }
}

.button--large {
  font-size: 20px;
  line-height: 1.15;
}

.button--black {
  background-color: $black;
  color: $white;
}

.button--alabaster {
  background-color: $alabaster;
  color: $electric-violet;
}