.content-box {
  background-color: $white;
  box-shadow: 0 0 20px 4px rgba(0,0,0,0.11);
  border-radius: $border-radius-large;
  padding: 85px 75px;
}

.content-box--hero {
  margin-top: -325px;
  margin-bottom: 104px;
}

.content-box--signup {
  position: relative;
  z-index: 3;
}

.signup__copy {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
