.headline--jumbo {
  font-family: $playfair;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.15;
}

.headline--large {
  font-family: $playfair;
  font-size: 44px;
  font-weight: 900;
}

.headline--medium {
  font-size: 22px;
  font-weight: 400;
}

.headline--small {
  font-size: 18px;
  font-weight: 900;
}