.hero {
  width: 100%;
  height: 850px;
  background-color: $electric-violet;
  background-image: url('/images/background--hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $alabaster;
  padding: 30px 88px 150px;
}

.hero__content {
  width: 65%;
  margin-top: 64px;

  .headline--medium {
    width: 85%;
  }

}