.logo__hr {
  width: 56px;
  border: 2px solid $aqua;
  margin-right: 5px;
  display: inline-block;
  vertical-align: text-top;
}

.signup__hr {
  width: 45%;
  border: 4px solid $aqua;
  display: block;
}