.wave {
  background-image: url('/images/background--hero--wave.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 175px;
}

.wave--hero { margin-top: -175px; }

.wave--footer {
  margin-bottom: -175px;
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}

.pull-wave {
  margin-bottom: -315px;
}